body {
  background-color: blanchedalmond;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Heading Styles */
h1,
h2,
h3 {
  color: darkcyan;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 25px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

/* Paragraph Styles */
p {
  color: darkslategrey;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

/* Image Styles */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* List Styles */

ul,
ol {
  max-width: 600px;
  margin: 0 auto;
}

li {
  color: darkslategrey;
  margin-bottom: 10px;
}

/* Link Styles */

.recipe_link {
  color: darkslategrey;
}

.navigation_link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.navigation_link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin: 15px;
  }

  h2 {
    font-size: 24px;
    margin: 15px;
  }

  h3 {
    font-size: 18px;
    margin: 15px;
  }
}
